<%- contentFor('heros') %>
<section class="hero">
    <div class="hero-content">
        <h2>Página de Error</h2>
        <a href="/" class="btn btn-lg btn-primary">Inicio</a>
        <a href="/compra" class="btn btn-lg btn-primary">Compra</a>
        <a href="/venta" class="btn btn-lg btn-primary">Venta</a>
        <a href="/reporte" class="btn btn-lg btn-primary">Reporte</a>
    </div>
</section>

<%- contentFor('body') %>
<br>
<br>
<br>
<br>
<br>
<h2><%= faltapago%></h2>